@font-face {
    font-family:'KaaosPro' ;
    src: url('../fonts/KaaosPro.ttf');
    font-style: normal;
}
@font-face {
    font-family:'RussianRail_G_Pro';
    src: url('../fonts/RussianRail_G_Pro.otf');
}
@font-face {
    font-family:'Stadio_Now_Weirdo';
    src: url('../fonts/Stadio_Now_Weirdo.ttf');
}

body, p{margin: 0; padding: 0;}
a{text-decoration: none;}
ul{list-style: none; margin: 0;}
.container {width: 90%; margin: 0 auto;}
header{padding-top: 25px; font-family: 'RussianRail_G_Pro', sans-serif;}
.main_header{background-image: linear-gradient(to bottom, #002209, #73737300 );}
.loc_header{background-image: linear-gradient(to bottom, #2F5B76, #57A9DC00 ); position: relative; z-index: 20;}
.phy_header{background-image: linear-gradient(to bottom, #172C19, #4C925300 ); position: relative; z-index: 20;}
.header{justify-content: space-between;}
.main_nav_list li{margin-right: 49px;}

.main_body{
    background-image: url('../img/main_banner.png');
    background-repeat: no-repeat;
    background-position: top left;
    background-size: contain;
}
.main_block{ height: 100vh;}
.gallery{ color: #fff;
    font-family: 'RussianRail_G_Pro', sans-serif;
    padding-top: 243px; margin-top: -30px;
    background-image: linear-gradient(to bottom,  #233817, #1C2A10 21%, #0F1F11 56%); 
}
.gallery_text{
    font-size: 20px;
    text-align: center;
    line-height: 1.5;
    max-width: 900px;
    margin: 0 auto;
    padding-bottom: 143px;
}
.gallery_swiper{padding-bottom: 147px; display: flex;
    align-items: center; position: relative; max-width: 80%; margin: 0 auto;}
.swiper{max-width: 75%;}
.slide{margin-right: 45px;}
.slide_img{height: 240px; width: 370px;}
.swiper-button-next, .swiper-button-prev { top: 35%;}
.swiper-button-next:after, .swiper-rtl .swiper-button-prev:after {
    content: url('../img/arrow_right_action.png');
}
.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after {
    content: url('../img/arrow_left_action.png');
}
.media{
    position: relative;
    background: #0F1F11 url('../img/back1.png') top left no-repeat;
    padding-top: 247px;
    padding-bottom: 170px;
}
.media_back{
    position: absolute;
    top: -7px;
    right: 0;
    max-width: 60%;
}
.media_info_title{
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-right: 325px;
}
.title{
    font-family: 'Stadio_Now_Weirdo', sans-serif;
    font-size: 50px; color: #fff; text-transform: uppercase;
    margin: 0;    line-height: 1.2;
}
.media_info_title .title{
    padding: 37px 250px;
    background: url('../img/back_title0.png') no-repeat;
    border-radius: 0 100px 100px 0;
    max-height: 157px;
    background-size: cover;
    width: 30%;
}
.media_title_img{
    max-width: 500px;
    position: absolute;
    right: -105px;
    top: -45px;
}
.media_info_content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 250px;
    margin-top: 100px;
}
.media_info_content_img{margin-right: 86px;max-height: 400px;}
.media_info_content_text{
    font-family: 'RussianRail_G_Pro', sans-serif;
    color: #293522;
    padding: 60px 130px;
    background-color: #B1CD90;
    position: relative; z-index: 20;
    border-radius: 100px 0 0 100px;
}
.more{background-image: linear-gradient(to bottom, #3E4E23, #46680F); padding-bottom: 30px;}
.more .title{
    padding: 50px 250px 37px 150px;
    background: url('../img/back_title1.png') no-repeat;
    position: relative;
    background-size: cover;
    margin-top: -13px;
    z-index: 12;
}
.more_info{
    margin-left: 90px;
    display: flex;
    align-items: flex-start;
}
.main_page{position: relative;}
.main_page_tree{
    position: absolute;
    bottom: -8px;
    right: 0;
    height: 27%;
    z-index: 15;
}
.more_info_blocks{margin-right: 26px; margin-top: -50px;}
.more_info_block{
    padding-top: 163px;
    padding-bottom: 46px;
    width: 300px;
    text-align: center;
    background: url('../img/back_block1.png') no-repeat;
    background-size: cover;
    position: relative;
    z-index: 10;
}
.second_row{margin-top: -70px; z-index: 5;}
.more_info_block_link{
    font-family: 'KaaosPro', sans-serif;
    color: #1B2412;
    text-transform: uppercase;
    font-size: 30px;
}
.text_link{
    height: 70px;
    max-width: 265px;
    margin: 0 auto;
}

.loc_block{
    background: linear-gradient(to bottom, rgba(151,227,239,0.6) 18%, rgba(67,175,130,0.7) 49%), url('../img/back3.png') top left no-repeat;
    padding-top: 168px; margin-top: -100px; padding-bottom: 300px;
    background-size: cover; min-height: 100vh;
    position: relative; }
.land{
    width: 600px;
    position: absolute;
    top: -10px;
    left: 45px;
}
.way{
    width: 500px;
    position: absolute;
    right: 0;
    top: -15px;
}
.loc_block_info{max-width: 600px; margin-left: 45%; margin-top: -10px;}
.loc_block_info .title{
    color: #18244D;
    max-width: 493px;
    padding-left: 120px;
}
.loc_block_info_text{
    font-family: 'RussianRail_G_Pro', sans-serif;
    padding: 107px 118px 73px 97px;
    color: #431B09;
    line-height: 1.5;
    background: url('../img/back_block2.png') center no-repeat;
    background-size: contain;
    width: 313px;
}
.loc_block_photos{text-align: center;  margin-top: 140px; position: relative;}
.photos_way{width: 80%; position: relative; z-index: 10;}
.photo_way{
    width: 80%;
    position: absolute;
    top: -262px;
    z-index: 0;
}
.spirits{background-color: #142615; position: relative; padding-top: 200px; padding-bottom: 455px;}
.spirits .title{
    padding: 60px 57px 50px 100px;
    text-align: right;
    background: url('../img/back_title2.png') no-repeat;
    background-size: cover;
    width: 75%;
    position: absolute;
    right: 0;
    top: -15px;
    z-index: 10;
}
.spirits_back{
    width: 100%;
    position: absolute;
    top: -420px;
    z-index: 0;
}
.spirits_back_greco{
    position: absolute;
    right: 0;
    bottom: -45px;
    max-height: 970px;
    z-index: 0;
}
.spirits_info{
    position: relative;
    padding-right: 120px;
    margin-top: -135px;
}
.lemur_peach{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.lemur_peach_img{max-width: 60%;    margin-right: 90px;}
.lemur_peach_text{
    font-family: 'RussianRail_G_Pro', sans-serif;
    line-height: 1.5;
    color: #F9E1D0;
    padding: 70px 47px;
    background-color: rgba(2, 19, 0, 0.4);
    border-radius: 30px;
    width: 27%;
}
.second_block{margin-left: 100px;  margin-top: -215px;}
.food_block{background: linear-gradient(to bottom, #152A18 0%, #4B6B4F 9%, #568C5C);  margin-top: -107px; padding-bottom: 150px;}
.food_block_title{ height: 100vh; position: relative;}
.food_block_paw{
    position: absolute;
    z-index: 2;
    top: 0;
    right: 13%;
    max-height: 760px;
}
.food_block_title .title{
    width: 30%;
    font-size: 80px;
    position: absolute;
    top: 45%;
    left: 20%;
}
.food_block_back{
    width: 100%;
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
}
.food_block_info{padding-bottom: 80px;}
.food_block_info, .food_block_info_img{display: flex; align-items: center;}
.food_block_info_text{
    font-family: 'RussianRail_G_Pro', sans-serif;
    line-height: 1.5;
    color: #000C05;
    padding: 114px 95px;
    background: url(../img/back_block3.png) center left no-repeat;
    background-size: contain;
    font-size: 19px;
}
.food_block_info_text p{width: 80%;}
.food_block_info_img img {max-width: 300px; margin-right: 30px;}
.second .food_block_info_text{transform: scaleX(-1);}
.second .food_block_info_text p{transform: scaleX(-1); text-align: right;}
.banana{margin-right: 0;margin-left: 88px;}
.body_block{    position: relative;     background-color: #101D12;    padding: 67px 0;}
.body_block_back{
    width: 100%;
    max-height: 300px;
    position: absolute;
    top: -258px;
}
.body_block .title{    text-align: center;    margin-bottom: 70px;}
.body_block_info{position: relative; display: flex; justify-content: space-around; height: 75vh;}
.lemur_body, .lemur_body_skilet{width: 100%; position: absolute; bottom: 0;}
.lemur_body:hover{display: none;}
.body_block_info_left, .body_block_info_right{
    display: flex;
    height: 70px;
    align-items: flex-start;
    margin-top: 150px;
}
.body_name{
    font-family: 'RussianRail_G_Pro', sans-serif;
    color: #fff; 
    font-size: 30px;
    margin-right: 20px;
}
.size{color: #78907B; font-size: 20px;}
.info_arrow_left, .info_arrow_right{
    width: 285px;
    height: 35px;
    margin-top: -30px;
}
.body_block_info_right .body_name{margin-top: -100px;   margin-left: 20px;}
.info_arrow_right{   height: 150px;}
.center{justify-content: center;}
.body_block_info_content{max-width: 65%; margin-top: 80px;}
.body_block_info_content, .text_paws{display: flex;}
.text_paws{position: relative; margin-bottom: 100px; align-items: center;}
.content_text{position: relative; margin-right: 60px;}
.content_text p{
    font-family: 'RussianRail_G_Pro', sans-serif;
    color: #fff;
    line-height: 1.2;
}
.paws_lemur{max-width: 330px;  margin-right: 160px;}
.paws_lemur_text{max-width: 300px;}
.lian_left{  position: absolute;    top: -170px;    left: 0px;    height: 800px;}
.lian_right{    position: absolute;    top: -150px;    right: 0; height: 785px;}
.lemur_arrow_top{
    max-width: 340px;
    position: absolute;
    top: -70px;
    right: 25%;
}
.text_lemur{max-width: 85%;}
.lemur_arrow_bottom{
    max-width: 350px;
    position: absolute;
    bottom: 40px;
    right: -50px;
}

footer{
    font-family: 'RussianRail_G_Pro', sans-serif;
    background-color: #0A1D11; position: relative;
    padding-top: 81px; padding-right: 74px;}
footer a, header a{color: #fff;}
.line_logo, .header{display: flex; align-items: center; margin-bottom: 15px;}
.footer_line{width: 100%; height: 0; margin-right: 30px;}
.footer{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 0 115px 80px 115px;
    border-right: 1px solid #fff;
}
.footer_nav_list, .main_nav_list{display: flex;padding: 0;}
.footer_nav_list li{margin-top: 15px;}
.footer_nav_list li:first-child {margin-right: 30px;}
.footer_contact_social{display: flex;  justify-content: space-around; margin-bottom: 36px;}


.food_block_paw {
    animation: bounce auto linear 6 alternate;
    animation-timeline: scroll(root);
  }
  
@keyframes bounce {
    100% {
      transform: translateY(300px);
    }
}


@media (min-height: 770px) and (min-width: 1512px) {
    .main_block{ height: 75vh;}
}